@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
}

.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.login-box-homepage {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.login-box h1 {
        float: left;
        font-size: 40px;
        border-bottom: 6px solid #32bfb8;
        margin-bottom: 50px;
        padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #32bfb8;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #32bfb8;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.header {
  height: 10%;
  width: 100%;
  top: 2%;
  background-color: transparent;
  position: fixed;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  }

  .left_side{
    height: 75%;
    width: 15%;
    top: 20%;
    background-color: transparent;
    position: fixed;
    color: white;
    font-size: 40px;
  }

  .right_side{
    height: 75%;
    width: 80%;
    background-color: whitesmoke;
    position: fixed;
    left: 17%;
    top: 21%;
    color: red;
    border: solid 1px black;
  }